[alias]
	co = checkout
	ci = commit
	st = status
[user]
	email = tycharlie.c@gmail.com
	name = Tsung Yu Chan
[init]
	defaultBranch = master
[commit]
	template = ~/.gitmessage
[core]
  editor = nvim
[credential]
	helper = store
